/* Graph-related style */

.GraphTraining-state {
  display: flex;
  justify-content: space-around;
  /*
  left: 12rem;
  position: relative;
  margin: 5rem 0;
  */
  position: relative;
  margin: 3rem 0 4rem 0;
}
.GraphTraining-stateGoal {
  /* kind of a hack... */
  position: absolute;
  right: 0;
}

.GraphTraining-other_states{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.GraphTraining-successors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.State {
  border: 1px solid #555;
  border-radius: 5px;
  width: 10rem;
  line-height: 8rem;
  font-size: 8rem;
  height: 10rem;
  padding: 0.5rem;
  box-sizing: border-box;
  transition: background-color 200ms;
  margin: 1rem;
  user-select: none;
}

.State > img {
  display: block;
}

.SuccState {
    border: 5px solid greenyellow;
}

.NonSuccState {
    border: 5px solid red;
}

.HighlightedState {
    border: 5px solid darkblue;
}

.Peek {
    font-size: 20px;
}

.GraphTraining-successors .State:hover {
  cursor: pointer;
  background-color: #ccc;
}

.PathIdentification-states {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.PathIdentification-start {
  background-color: green;
}
.PathIdentification-goal {
  background-color: red;
}
.PathIdentification-selected,
.PathIdentification-selected:hover {
  background-color: #bbb !important;
}
.PathIdentification-selectable:hover {
  cursor: pointer;
  background-color: #ddd;
}

/* Imports from Blockworld */

.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   text-align: center;
   border: 1px solid #888;
   width: 40%;
}

.jspsych-content {
 margin-top: 0;
 position: relative;
}

.legal hr {
 border-color: #ccc;
}



@import url(https://unpkg.com/nes.css/css/nes-core.min.css);

.App {
  text-align: center;
}

#side-bar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2em;
    padding: 0.2em;
    max-width: 30em;
}

#side-bar div p {
    margin-top: 0;
    text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  min-width: 60em;
  justify-content: center;
}

body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.clear {
  clear: both;
  content: ""
}

.board {
  margin-left: 0.5em;
  min-width: 25em;
  justify-content: center
}

.cell {
  border: 1px solid #414c69;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
}


.cell:focus {
  outline: none;
}

.is-wall {
  background: #afafff;
}

/*.is-mine {
  background: #ff8b8b;
}*/

.is-goal {
  background: #ffff00;
}

#battery h2 {
    padding-top: 1em;
    margin: 0;
}

#battery progress {
    margin: 0;
    width: 100%;
}

